<!--

konfiguracia dynamicky v dataflos.util.HibernateUtil

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dataflos_testing</property>
    
    147.213.82.11:5432/sav 
    <property name="hibernate.connection.username">jsmatanova</property>
    <property name="hibernate.connection.password">JanSmat*</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <property name="current_session_context_class">thread</property>
    <mapping resource="dataflos/entity/Kolekcie.hbm.xml"/>
    <mapping resource="dataflos/entity/HerbarPolozky.hbm.xml"/>
    <mapping resource="dataflos/entity/Udaj.hbm.xml"/>
    <mapping resource="dataflos/entity/FamilyApg.hbm.xml"/>
    <mapping resource="dataflos/entity/Ftgokres.hbm.xml"/>
    <mapping resource="dataflos/entity/Ftgobvod.hbm.xml"/>
    <mapping resource="dataflos/entity/LitZdroj.hbm.xml"/>
    <mapping resource="dataflos/entity/Ftgoblast.hbm.xml"/>
    <mapping resource="dataflos/entity/MenaTaxonov.hbm.xml"/>
    <mapping resource="dataflos/entity/Genus.hbm.xml"/>
    <mapping resource="dataflos/entity/Flora.hbm.xml"/>
    <mapping resource="dataflos/entity/UdajZberAsoc.hbm.xml"/>
    <mapping resource="dataflos/entity/Nac.hbm.xml"/>
    <mapping resource="dataflos/entity/Exsikaty.hbm.xml"/>
    <mapping resource="dataflos/entity/Brumit1.hbm.xml"/>
    <mapping resource="dataflos/entity/Vac.hbm.xml"/>
    <mapping resource="dataflos/entity/Family.hbm.xml"/>
    <mapping resource="dataflos/entity/Casopisy.hbm.xml"/>
    <mapping resource="dataflos/entity/DallaTorre.hbm.xml"/>
    <mapping resource="dataflos/entity/SkupRev.hbm.xml"/>
    <mapping resource="dataflos/entity/MenaZberRev.hbm.xml"/>
    <mapping resource="dataflos/entity/Voucher.hbm.xml"/>
    <mapping resource="dataflos/entity/UdajObrazky.hbm.xml"/>
    <mapping resource="dataflos/entity/Chu.hbm.xml"/>
    <mapping resource="dataflos/entity/Brumit2.hbm.xml"/>
    <mapping resource="dataflos/entity/Brumit4.hbm.xml"/>
    <mapping resource="dataflos/entity/Herbar.hbm.xml"/>
    <mapping resource="dataflos/entity/SkupRevDet.hbm.xml"/>
    <mapping resource="dataflos/entity/Ngc.hbm.xml"/>
    <mapping resource="dataflos/entity/Lokality.hbm.xml"/>
    <mapping resource="dataflos/entity/Obec.hbm.xml"/>
    <mapping resource="dataflos/entity/ListOfSpecies.hbm.xml"/>
    <mapping resource="dataflos/entity/Brumit3.hbm.xml"/>
    <mapping resource="dataflos/entity/Vgc.hbm.xml"/>
    <mapping resource="dataflos/entity/LokalityKvadrantAsoc.hbm.xml"/>
    <mapping resource="dataflos/entity/LokalityFtgokresAsoc.hbm.xml"/>
    <mapping resource="dataflos/entity/Kvadrant.hbm.xml"/>
    <mapping resource="dataflos/entity/Uzivatelia.hbm.xml"/>
    <mapping resource="dataflos/entity/Revizie.hbm.xml"/>
  </session-factory>
</hibernate-configuration>-->
